#!/bin/bash

# Read token from file
TOKEN=$(cat /opt/github-runner/.runner_token)

# Configure the runner
./config.sh --url https://github.com/{{ github_org }} --token $TOKEN --name "{{ inventory_hostname }}" --unattended --work _work --replace

# Start the runner service
systemctl enable github-runner
systemctl start github-runner 